* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Dock Container */
.dock-container {
    position: fixed;
    bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 100;
}

.dock {
    display: flex;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(90px);
    padding: 15px;
    border-radius: 30px;
}

.dock-item {
    margin: 0 10px;
    text-align: center;
    color: #060e41;
    font-size: 20px;
    text-decoration: none;
}

.dock-item i {
    display: block;
    font-size: 30px;
}

.dock-item:hover {
    color: #116bcb;
}

body {
    background: linear-gradient(135deg, #3b3b98, #38ada9);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 80%;
    max-width: 800px;
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
}

.title {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
    font-size: 2em;
}

.search-container {
    text-align: center;
    margin-bottom: 20px;
}

.search-bar {
    padding: 10px;
    width: 80%;
    max-width: 400px;
    border-radius: 25px;
    border: 1px solid #ddd;
    outline: none;
    transition: all 0.3s ease;
}

.search-bar:focus {
    border-color: #007bff;
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.2);
}

.project-table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    animation: slideIn 1s ease-in-out;
}

@keyframes slideIn {
    from { opacity: 0; transform: translateX(-20px); }
    to { opacity: 1; transform: translateX(0); }
}

.project-table th, .project-table td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

.project-table th {
    background-color: #007bff;
    color: white;
}

.project-table td a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.project-table td a:hover {
    color: #0056b3;
}
